.tools{
    margin: 0;
  padding: 0;
  justify-items: center;
}




.tools li{
    align-items: center;
    display: inline;
    background-color: aqua;
    
    border: 2px solid blue;
    padding: 10px;
    margin: .5em;
    width: 87px;
   
}
.general{
    background-color: rgb(181, 240, 250);
}

    .lviv{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
size: 50px;
    }
  .uk{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 50px; 
  }
  .im{
      float: left;
      margin: 20px 30px;
  }
  a:link{
      color: rgb(255, 0, 191);
      padding: 2px;
  }
.tools li:hover{
    font-size: 20px;
background:pink;
color: rgb(243, 42, 176);
}
article{
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: rgb(35, 38, 177);
}
div{
    font-size: 20px;
    text-align: justify;
}
.second {
    text-align: left;
   padding: 15px 85px;
}