.tools li{
    align-items: center;
    display: inline;
    background-color: aqua;
    border: 2px solid blue;
    padding: 4px;
    margin: .5em;
    width: 87px;
    text-underline-position:below;
}
.general{
    background-color: rgb(48, 170, 192);
}
li a :hover{
    background-color: blueviolet;
    color: chartreuse;
}
    .lviv{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
size: 50px;
    }
  .uk{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    size: 50px; 
  }
  .im{
      size: 100px;
  }
